*
{
    box-sizing: border-box;
}

html 
{
    scroll-behavior: smooth;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.header
{
    /* background-image: linear-gradient(360deg,rgba(0,0,0,0.9),transparent), url(../img/globe_snip.PNG); */
    /* width: 100%;
    height: 100vh; */
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
}

.header-text
{
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: right;
    align-items: center;
}

.content
{
    text-align: center;
}
form.form-example 
{
    display: table;
}

div.form-example 
{
    display: table-row;
}

label, input
{
    display: table-cell;
    margin-bottom: 10px;
}

label 
{
    padding-right: 10px;
    color: white;
}

/* next 2 selectors remove arrows on form inputs  */
/* for firefox */
input[type=number]
{
    -moz-appearance: textfield;
}
/* for all other browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

.modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active
{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header
{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title
{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button
{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body
{
    padding: 10px 15px;
}

#overlay
{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active
{
    opacity: 1;
    pointer-events: all;
}