*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html 
{
    scroll-behavior: smooth;
}

body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wrapper
{
    /* z-index: 1; */
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    /* grid-auto-rows: 100px; */
    grid-template-areas:
        "a b b b b c";
        /* "a a a a b b b b c c c c d d d d"
        "e e e e f f f f g g g g h h h h"; */
    align-items: start; 
}

.latlongDisplay 
{
    grid-area: b;
    /* align-self: flex-end; */
    justify-self: center;
}

.help-div
{
    grid-area: c;
}

/* .header-text
{
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: right;
    align-items: center;
    Below is for .header (above):
    background-image: linear-gradient(360deg,rgba(0,0,0,0.9),transparent), url(../img/globe_snip.PNG);
    width: 100%;
    height: 100vh;
} */

/* Style the form - display items horizontally */
.form-inline 
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Add some margins for each label */
.form-inline label 
{
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input 
{
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    /* background-color: #fff;
    border: 1px solid #ddd; */
}

/* Style the submit button */
.form-inline button 
{
    padding: 10px 20px;
}

.help-button
{
    margin: 5px 10px 5px 0;
    padding: 10px 20px;
}

label 
{
    /* padding-right: 10px; */
    color: white;
}

/* next 2 selectors remove arrows on form inputs  */
/* for firefox */
input[type=number]
{
    -moz-appearance: textfield;
}
/* for all other browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

.modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active
{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header
{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title
{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button
{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body
{
    padding: 10px 15px;
}

#overlay
{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active
{
    opacity: 1;
    pointer-events: all;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 900px) 
{
    .latlongDisplay
    {
        grid-area: a;
    } 
    /* .form-inline input 
    {
        margin: 10px 0;
    } */

    .form-inline 
    {
        flex-direction: column;
        /* align-items: stretch; */
    } 
    
}